name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  fix:
    name: Run automated fix
    uses: prettier/shared-workflows/.github/workflows/automated-fix.yml@main
    with:
      repository: prettier/angular-estree-parser
