name: Publish Package

on:
  push:
    tags:
      - v*

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Install Dependencies
        run: yarn --immutable

      - name: Build package
        run: yarn build

      - name: Publish to NPM
        run: npm publish
